body{
    background-color: black;
}
.text{
    color: white!important;
}
.good{
    color: greenyellow;
}
.bad{
    color: red;
}
.neutral{
    color: linear-gradient(90deg, greenyellow 0%, red 100%);
}